include COPYING README.rst *.sample  requirements.txt
include runtests.sh createdb.py nosetests
recursive-include doc *
recursive-include alembic *
recursive-include nuancier *
recursive-include utility *

recursive-exclude doc *.pyc
recursive-exclude alembic *.pyc
recursive-exclude nuancier *.pyc
recursive-exclude utility *.pyc
