# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
blinker # required by flask for tests
dogpile.cache
flask
flask-wtf
flask-oidc
Pillow
python-fedora >= 0.3.33
python-openid
python-openid-cla
python-openid-teams
six
SQLAlchemy>=0.6
wtforms
