{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}admin{% endblock %}

{% block content %}

<h1>New election</h1>

<form action="{{ url_for('admin_new') }}" method="post">
<table>
    {{ render_field_in_row(form.election_name) }}
    {{ render_field_in_row(form.election_folder) }}
    {{ render_field_in_row(form.election_year) }}
    {{ render_field_in_row(form.submission_date_start) }}
    {{ render_field_in_row(form.submission_date_end) }}
    {{ render_field_in_row(form.election_date_start) }}
    {{ render_field_in_row(form.election_date_end) }}
    {{ render_field_in_row(form.election_badge_link) }}
    {{ render_field_in_row(form.election_n_choice) }}
    {{ render_field_in_row(form.user_n_candidates) }}
    {{ render_field_in_row(form.allows_updating) }}
    {{ render_field_in_row(form.generate_cache) }}
</table>
<input type="submit" class="submit positive button" value="Create">
<input type="button" value="Cancel" class="button" onclick="history.back();">
{{ form.csrf_token }}
<p class="smaller error">Mandatory fields are marked with '*'</p>
</form>

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"> </script>

<script type="text/javascript">
    $(function(){
        $('#election_date_start').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#election_date_end').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#submission_date_start').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#submission_date_end').datepicker({
            dateFormat: "yy-mm-dd",
        });
    });
</script>
{% endblock %}
