{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}admin{% endblock %}

{% block content %}

<h1>Nuancier Admin -- Version {{ version }}</h1>

<h3>Admin interface</h3>
<p>
From this page you can manage elections, create new ones, and start
and stop an existing election.
</p>

<a class="large_button" href="{{ url_for('admin_new') }}">Create a new election</a>

<table>
    <tr>
        <th>Identifier</th>
        <th>Name</th>
        <th>Year</th>
        <th>Submissions</th>
        <th>Votes</th>
        <th>Published</th>
        <th>Max number of votes possible</th>
        <th></th>
    </tr>
    {% for election in elections %}
    <tr>
        <td>{{ election.id }}</td>
        <td>
            <a href="{{ url_for('election', election_id=election.id) }}">
                {{ election.election_name }}
            </a>
        </td>
        <td>{{ election.election_year }}</td>
        <td>
            {% if election.submission_open %}
            <img src="{{ url_for('static', filename='Approved.png') }}"
                title="Submission open"
                alt="Submission open"/>
            {% else %}
            <img src="{{ url_for('static', filename='Denied.png') }}"
                title="Submission closed"
                alt="Submission closed"/>
            {% endif %}
            {{ election.submission_date_start }}
        </td>
        <td>
            {% if election.election_open %}
            <img src="{{ url_for('static', filename='Approved.png') }}"
                title="Election open"
                alt="Election open"/>
            {% else %}
            <img src="{{ url_for('static', filename='Denied.png') }}"
                title="Election closed"
                alt="Election closed"/>
            {% endif %}
            {{ election.election_date_start }}
        </td>
        <td>
            {% if election.election_public %}
            <img src="{{ url_for('static', filename='Approved.png') }}"
                title="Election's results published"
                alt="Election's results published"/>
            {% else %}
            <img src="{{ url_for('static', filename='Denied.png') }}"
                title="Election's results closed"
                alt="Election's results closed"/>
            {% endif %}
            {{ election.election_date_end }}
        </td>
        <td>{{ election.election_n_choice }}</td>
        {% if is_admin %}
        <td>
            <a href="{{ url_for('admin_edit', election_id=election.id) }}">
                Edit</a>
        </td>
        {% endif %}
        <td>
            <a href="{{ url_for('admin_cache', election_id=election.id) }}">
                (Re-)generate cache</a>
        </td>
        <td>
            <a href="{{ url_for('admin_review', election_id=election.id) }}">
                Review</a>
        </td>
        <td>
            <a href="{{ url_for('stats', election_id=election.id) }}">
                Stats</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
