{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}elections{% endblock %}

{% block content %}

<h1>Elections</h1>

<p>
  Listed here are all current and past elections.
</p>

<p>
    <span class="warning">Only Fedora contributors can vote.</span>
    A contributor is defined by someone having an account on
    <a href="https://admin.fedoraproject.org/account">FAS</a>, having signed
    the <a href="https://fedoraproject.org/wiki/Legal:Fedora_Project_Contributor_Agreement"
    >FPCA</a> and being in one additional group.
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Open</th>
        <th>Published</th>
    </tr>
    {% for election in elections %}
    <tr>
        <td>
            <a href="{{ url_for('election', election_id=election.id) }}">
                {{ election.election_name }}
            </a>
        <td>{{ election.election_year }}</td>
        <td>
            {% if election.election_open %}
            <img src="{{ url_for('static', filename='Approved.png') }}"
                alt="Election open"/>
            {% else %}
            <img src="{{ url_for('static', filename='Denied.png') }}"
                alt="Election open"/>
            {% endif %}
            {{ election.election_date_start }}
        </td>
        <td>
            {% if election.election_public %}
            <a href="{{ url_for('results', election_id=election.id) }}">
                <img src="{{ url_for('static', filename='Approved.png') }}"
                    alt="Election published"/>
            </a>
            {% else %}
            <img src="{{ url_for('static', filename='Denied.png') }}"
                alt="Election closed"/>
            {% endif %}
            {{ election.election_date_end }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
