{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}index{% endblock %}

{%block head %}
<link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='s3Slider.css') }}"/>
{% endblock %}

{% block content %}

<h1>Nuancier</h1>

Nuancier is a simple voting application for the supplementary
wallpapers included in Fedora.


{% if results %}
    <h3>Last winners</h3>
    <div id="s3slider">
        <ul id="s3sliderContent">
            {% for candidate, votes in results %}
            <li class="s3sliderImage">
                <img src="{{ url_for('base_cache', filename='%s/%s' % (
                                     election.election_folder,
                                     candidate.candidate_file)
                                )
                          }}">
                <span class="top" style="display: inline;">
                </span>
            </li>
            {% endfor %}
            <div class="clear s3sliderImage"></div>
        </ul>
    </div>
{% endif %}

<h3>Vote</h3>

{% if elections %}
<ul>
    {% for election in elections %}
    <li>
        <a class="large_button" href="{{ url_for('election', election_id=election.id) }}">
            {{ election.election_name }} - {{ election.election_year }}
        </a>
        until {{ election.election_date_start }}
    </li>
    {% endfor %}
</ul>
<p>
<span class="warning">Only Fedora contributors can vote.</span>
A contributor is defined by someone having an account on
<a href="https://admin.fedoraproject.org/accounts">FAS</a>, having signed
the <a href="https://fedoraproject.org/wiki/Legal:Fedora_Project_Contributor_Agreement"
>FPCA</a> and being in one additional group.
</p>
{% else %}
<p>No elections are currently open for voting.</p>
{% endif %}


<h3>Contribute</h3>

Before you contribute to an election make sure to <a href="{{ url_for('contribute_index') }}">
    read the guidelines</a>

{% if contributions %}
<p>
{% if contributions|length == 1 %}There is {% else %} There are {% endif %}
<a href="{{ url_for('contribute_index') }}">{{ contributions|length }} election(s) opened for contribution</a>.
</p>
{% else %}
<p>No elections are opened for contributions for the moment.</p>
{% endif %}

{% endblock %}

{% block jscripts %}
{{ super() }}
<script language="javascript" type="text/javascript"
        src="{{ url_for('static', filename='s3Slider.js') }}"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
    $('#s3slider').s3Slider({
        timeOut: 5000
    });
});
</script>
{% endblock %}
