{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}index{% endblock %}

{% block content %}

{% if config['NUANCIER_ALLOW_GENERIC_OPENID'] %}
<h3>OpenId Login</h3>
  <form role="form" action="{{url_for('login')}}" method="post">
    <input name="openid" placeholder="https://id.openid.server">
    <span class="pull-right">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Login</button>
    </span>
  </form>
{% endif %}

{% endblock %}
