<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}Fedora supplementary wallpapers{% endblock %}</title>
    {%block head %}{% endblock %}
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="//fedoraproject.org/static/images/favicon.ico"/>
    <link rel='stylesheet' type='text/css'
        href="{{ url_for('static', filename='jquery-ui-1.9.2.custom.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='koji.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='nuancier.css') }}"/>
    <link rel='stylesheet' type='text/css'
         href='//fonts.googleapis.com/css?family=Comfortaa'/>

  </head>
  <body id="{%block tag %}{% endblock %}">

    <div id="wrap">
      <div id="innerwrap">

        <!-- HEADER -->
        <div id="header">
          <img src="{{ url_for('static', filename='nuancier-logo.png') }}"
            alt="Nuancier Logo" id="kojiLogo"/>
        </div><!-- end header -->

        <!-- MAIN NAVIGATION -->
        <div id="mainNav">
          <h4 class="hide">Main Site Links:</h4>
          <ul>
            <li id="indexTab"><a href="{{url_for('.index')}}">Home</a></li>
            <li id="contributeTab"><a href="{{url_for('.contribute_index')}}">Contribute</a></li>
            <li id="electionsTab"><a href="{{url_for('.elections_list')}}">Elections</a></li>
            <li id="resultsTab"><a href="{{url_for('.results_list')}}">Results</a></li>
            {% if is_admin %}
            <li id="adminTab"><a href="{{url_for('.admin_index')}}">admin</a></li>
            {% endif %}
          </ul>
        </div><!-- end mainNav -->

        <span id="loginInfo">
          {% if (g.fas_user or (g.auth and g.auth.logged_in)) %}
            <span class="text">logged in as </span>
            {% if g.fas_user %} {{ g.fas_user.username}} {%
                else %}{{ g.auth.nickname or g.auth.fullname }}{% endif %} |
            <a href="{{ url_for('.logout') }}">log out</a>
          {% else %}
            login:
            {% if config['NUANCIER_ALLOW_FAS_OPENID'] %}
            <a href="{{ url_for('.fedora_login') }}">Fedora</a> |
            {% endif %}
            {% if config['NUANCIER_ALLOW_GOOGLE_OPENID'] %}
            <a href="{{ url_for('.google_login') }}">Google</a> |
            {% endif %}
            {% if config['NUANCIER_ALLOW_YAHOO_OPENID'] %}
            <a href="{{ url_for('.yahoo_login') }}">Yahoo</a> |
            {% endif %}
            {% if config['NUANCIER_ALLOW_GENERIC_OPENID'] %}
            <a href="{{ url_for('.login') }}">OpenID</a>
            {% endif %}
            </ul>
          {% endif %}
        </span>

        <div id="content">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                <ul id="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message |safe}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}

        </div>

        {% if options is defined %}
        <div id="options">
            <div id="options_title">
                <h3>Options</h3>
            </div>
            <div id="delimiter"></div>
            <div id="options_content">
                {% block options %}{% endblock %}
            </div>
        </div>
        {% endif %}

        <p id="footer">
          Copyright &copy; 2013-2014 Red Hat
          <a href="//github.com/fedora-infra/nuancier/"
          target="_blank">nuancier</a> -
          <a href="//nuancier.rtfd.org/"
          target="_blank">Documentation</a>
        -- version: {{ version }}
        </p>

      </div>
    </div>

    {% block jscripts %}
    {% endblock %}

  </body>
</html>
