{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}elections{% endblock %}

{% block head %}
   <script language="javascript" type="text/javascript"
        src="http://www.flotcharts.org/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript"
        src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript"
        src="http://www.flotcharts.org/flot/jquery.flot.categories.js"></script>
{% endblock %}

{% block content %}

<h1>Election statistics</h1>

<h3>{{ election.election_name }} - {{ election.election_year }}</h3>

<table>
    <tr>
        <th>Number of votes</th>
        <td>{{ stats['votes'] }}</td>
    </tr>
    <tr>
        <th>Number of participants</th>
        <td>{{ stats['voters'] }}</td>
    </tr>
</table>

<div class="demo-container">
    <div id="placeholder" class="demo-placeholder"></div>
</div>

{% endblock %}


{% block jscripts %}
<script type="text/javascript">

    var data = [{'color': '#1F77B4',
                'bars': {'order': 1, 'barWidth': 0.8, 'show': 1},
                'data': {{ stats['data'] }},
                'label': 'Votes'}
                ];

    $(function() {
        var plot = $.plot("#placeholder", data, {
            series: {
                clickable: true,
                hoverable: true
            },
            grid: { hoverable: true, clickable: true },
            xaxis: {
                mode: "categories",
                points: { show: true },
                lines: { show: true },
                tickLength: 0,
                show: false
            }
        });

        // show the tooltip
        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#fee',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        $("#placeholder").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x);
            $("#y").text(pos.y);

            if (item) {
                $("#tooltip").remove();
                var x = item.datapoint[0],
                    y = item.datapoint[1];

                if (item.series.label == 'Votes') {
                    showTooltip(item.pageX, item.pageY,
                            y + " user(s) voted on "
                            + data[0].data[item.dataIndex][0]
                            + " wallpaper(s)");
                }
            } else {
                document.body.style.cursor = 'default';
                $("#tooltip").remove();
            }
        });
    });
</script>
{% endblock %}
