{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block head %}
<link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='lightbox/css/lightbox.css') }}"/>
<script>
var votelimit = {{election.election_n_choice}} - {{n_votes_done}};
</script>
{% endblock %}

{%block tag %}elections{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='lightbox/js/lightbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='nuancier.js') }}"></script>
{% endblock %}

{% block content %}

<h1>Vote: {{ election.election_name }} - {{ election.election_year }}</h1>

<p>
Click on the wallpapers to select the ones you like.
</p>

{% if election.election_badge_link %}
<p>
<a href="{{ election.election_badge_link }}" target="_blank">
    Claim your badge
</a> for voting in this election.
</p>
{% endif %}

{% if config.get('WEIGHTED_GROUP', None) %}
<p>
  The votes of the members of the group(s)
  {{ config['WEIGHTED_GROUP'] |format_grp}} count double.
</p>
{% endif %}


{% if candidates %}
<form action="{{ url_for('process_vote', election_id=election.id) }}"
      method="post">
{{ form.csrf_token }}
<div id="votechoice">
    {% for candidate in candidates %}
        <div class="cell{% if confirm %} large_button{% endif %}">
            <input type="checkbox" name="selection"
                value="{{ candidate.id }}" id="candidate{{ candidate.id }}"/>
            <a class="resizelink" href="{{ url_for('base_picture',
                                 filename='%s/%s' % (
                                    election.election_folder,
                                    candidate.candidate_file
                                    )
                                )
                      }}"
                data-lightbox='{{ election.election_name }}'
                title='{{ candidate.candidate_name }}'>
            </a>
            <label for="candidate{{ candidate.id }}">
                <div class="hoveroverlay"></div>
                <img class="smallthumb" src="{{ url_for('base_cache',
                            filename='%s/%s' % (
                                election.election_folder,
                                candidate.candidate_file
                                )
                            )
                            }}" alt="img {{ candidate.candidate_file }}"/>
            </label>
        </div>
    {% endfor %}
</div>
<div id=fixedsidebar>
    <div id="fix_static">
        <h3>Your Votes</h3>
        <p>Remove a choice by clicking on the image.</p>
    </div>
    <div id="fix_info"></div>
    <div id="sideimages"></div>
    <div id="sidebuttons">
        <input id="fix_submit" type="submit" class="submit positive button"
            value="Submit Votes"> <br />
    </div>
</div>
</form>
{% else %}
<p> No candidates have been registered for this election (yet). </p>
{% endif %}

{% endblock %}
