{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block head %}
<script src="{{ url_for('static', filename='lightbox/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='lightbox/js/lightbox-2.6.min.js') }}"></script>
<link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='lightbox/css/lightbox.css') }}"/>
{% endblock %}

{%block tag %}elections{% endblock %}

{% block jscripts %}
<script src="{{ url_for('static', filename='nuancier.js') }}"></script>

{% endblock %}

{% block content %}

<h1>Vote: {{ election.election_name }} - {{ election.election_year }}</h1>

<p>
Click on the checkbox to select which wallpaper you like.
</p>

<p>
Click on the picture to get a larger version of the image.
</p>

<p id="fix_info" ></p>

{% if candidates %}
<form action="{{ url_for('process_vote', election_id=election.id) }}"
      method="post">
<table>
    <tr class="row">
    {% for candidate in candidates %}
        <td class="cell">
            <label>
                <input type="checkbox" name="selection"
                    value="{{ candidate.id }}"
                    onclick="updateSelectionCnt(this);"/>
                <a href="{{ url_for('base_picture',
                                     filename='%s/%s' % (
                                        election.election_folder,
                                        candidate.candidate_file
                                        )
                                    )
                          }}"
                    data-lightbox='{{ election.election_name }}'
                    title='{{ candidate.candidate_name }}'>
                    <img src="{{ url_for('base_cache',
                                     filename='%s/%s' % (
                                        election.election_folder,
                                        candidate.candidate_file
                                        )
                                    )
                          }}" alt="img {{ candidate.candidate_file }}"/>
                </a>
        </td>
        {% if loop.index % 3 == 0 %}
        </tr>
        <tr class="row">
        {% endif %}
    {% endfor %}
    </tr>
</table>
<input id="fix_submit" type="submit" class="submit positive button" value="Vote"> <br />
<input id="fix_cancel" type="button" value="Cancel" class="button" onclick="history.back();">
</form>
{% else %}
<p> No candidate have been registered for this election (yet). </p>
{% endif %}

{% endblock %}
