[Unit]
Description=Nuancier
After=network.target
Documentation=https://github.com/fedora-infra/nuancier/

[Service]
Environment="NUANCIER_CONFIG=/home/vagrant/nuancier.cfg"
Environment=FLASK_APP=/vagrant/nuancier/__init__.py
ExecStart=flask run -p 5000 -h "0.0.0.0"
Type=simple

[Install]
WantedBy=multi-user.target
