[Unit]
Description=Nuancier
After=network.target
Documentation=https://github.com/fedora-infra/nuancier/

[Service]
Environment="NUANCIER_CONFIG=/home/vagrant/nuancier.cfg"
ExecStart=/home/vagrant/.virtualenvs/nuancier/bin/python /vagrant/runserver.py --host 0.0.0.0 --port 5000
Type=simple

[Install]
WantedBy=multi-user.target
