
.errors {
    color: red;
}

.warnings {
    color: orange;
}

#galleria{
    height: 250px;
}

.acls tr td {
    vertical-align: text-top;
}

#header input {
    border-radius: 10px;
}

#content {
    font-family: 'Comfortaa', cursive;
}

body#index #mainNav li#indexTab a,
body#contribute #mainNav li#contributeTab a,
body#elections #mainNav li#electionsTab a,
body#results #mainNav li#resultsTab a,
body#admin #mainNav li#adminTab a {
    background-color: #fff;
    color: #444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width:0px;
}

body#admin table {
    padding-top:2em;
}

#content {
    float:left;
    width:74%px;
}

#options {
    float:right;
    width:23%;
    margin-right: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) inset;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top:120px;
    right:0;
}

#delimiter {
    background-color:#193b6c;
    height: 10px;
}

#options_title {
    border-radius: 10px 10px 0px 0px;
    padding: 1px 0em 1px 1em;
    margin: 0px 0px 0px 0px;
    background: #34609f;
    color: #fff;
}

#options_content ul {
    list-style-type: none;
    margin-right: 5px;
}

#options_content li {
    margin-bottom: 5px;
}

#options input[type="submit"] {
    width: 90%;
}

/** Web App Styles **/
/* Links to other web apps */
#actions {
  line-height: 1;
  list-style: none;
  margin: 1ex 0!important;
  padding: 1ex 0ex 0ex 0ex;
}

#actions li {
    display: inline;
    margin-right: 1ex;
}

#metainfo th{
    text-align: left;
    background: none repeat scroll 0 0 #DDDDDD;
}

#metainfo th{
    border: 1px solid #000000;
    padding: 0.6ex;
}

.acls, .owner {
    padding: 0px;
    margin: 0px;
}

#legend {
    margin-top: 4em;
    font-size: 85%;
}

#legend td {
    padding-left: 0.5em;
}

#legend td img {
    padding-right: 0.5em;
}

#legend th {
    min-width: 0px;
    padding-left: 0.5em;
}

#pending th {
    text-align: left;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 75%
}

.underline {
    text-decoration: underline;
}

/*#fix_info {
    position: fixed;
    top: 130px;
    right: 5px;
}

#fix_submit {
    position: fixed;
    bottom: 40px;
    right: 5px;
    width: 5em;
}

#fix_cancel {
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 5em;
}*/

a.large_button,
a:hover.large_button,
a:visited.large_button {
    color: white;
}

.large_button {
    color: white;
    background: #3C6EB4;
    padding: 1em;
    margin-bottom: 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.cell a {
    color: #193C6E;
}


.demo-container {
    box-sizing: border-box;
    width: 835px;
    height: 325px;
    padding: 10px 10px 15px 10px;
    margin: 15px auto 30px auto;
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

#votechoice input[type=checkbox]
{
   position: absolute;
   left: -9999px;
}

#votechoice
{
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
   width:750px;
}

#votechoice .cell
{
    position:relative;
    display:block;
    width:250px;
}


#votechoice input[type=checkbox]:checked ~ label
{
    display:block;
    -moz-transition: height 0.6s ease-out, opacity 0.8s ease-out;
    opacity:0;
    height:0;

}


#votechoice input[type=checkbox]:checked ~ .resizelink
{
    display:block;
    opacity:0;
    height:0;
}

#votechoice label
{
    height: 100%;
    width:100%;
    min-height:100%;
    display:block;
    opacity:1;
    position:relative;
}

#votechoice img.smallthumb
{
    width:100%;
}

#votechoice .hoveroverlay
{
    position:absolute;
    width:250px;
    height:100%;
    min-height:100%;
    top:0;
    cursor:pointer;
    left:0;
    background-color:rgba(50,50,50,0.7);
    z-index:999;
    display:none;
    background-image:url(vote-hover.png);
    background-repeat: no-repeat;
    background-position: bottom 10px right 10px;
}

#votechoice input[type=checkbox]:focus ~ label > .hoveroverlay.limit,
#votechoice .resizelink:focus ~ label .hoveroverlay.limit,
#votechoice .cell:hover .hoveroverlay.limit
{
    display:none!important;
    left:0!important;
}

#votechoice .cell:hover .hoveroverlay,
#votechoice .cell:hover .resizelink
{
    left:0;
    display:block;
}

#votechoice input[type=checkbox]:focus ~ label > .hoveroverlay,
#votechoice .resizelink:focus ~ label .hoveroverlay
{
    display:block;
}

#votechoice input[type=checkbox]:focus ~ a.resizelink,
#votechoice .resizelink:focus
{
    left:0;
}

.resizelink
{
    position:absolute;
    left:-9999px;
    bottom:0px;
    cursor:pointer;
    z-index:1000;
    width:50px;
    height:50px;
    background-image:url(zoomin.png);
    background-repeat:no-repeat;
    background-position: top right;
}

#votechoice .cell:hover .resizelink.limit,
#votechoice input[type=checkbox]:focus ~ a.resizelink.limit,
#votechoice .resizelink.limit:focus
{
    left:-9999px!important;
}

.resizelink:hover,
.resizelink:focus
{
    background-image:url(zoomin-hover.png);
}

.resizelink:hover + label > .hoveroverlay,
.resizelink:focus + label > .hoveroverlay
{
    background-image:url(vote.png)!important;
}

#fixedsidebar
{
    position: fixed;
    right: 0;
    height:100%;
    background-color:#777;
    color:white;
    max-width:150px;
    width:150px;
    top:0;
    padding:15px;
    box-shadow: 0px 0px 10px 2px #555;
    overflow: auto;
}

#fixedsidebar input
{
    margin-bottom: 4em;
}

#sideimages
{
    width:150px;
    max-width:150px;
}

#sideimages img
{
    width:70px;
}

body#elections #wrap
{
    max-width:800px;
}

body#elections
{
    margin-right:170px;
}
